<h1>Listing condicions</h1>

<table>
  <thead>
    <tr>
      <th>Condicion</th>
      <th>Tipo trans</th>
      <th>Condicion porcentaje comision</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @condicions.each do |condicion| %>
      <tr>
        <td><%= condicion.condicion %></td>
        <td><%= condicion.tipo_trans %></td>
        <td><%= condicion.condicion_porcentaje_comision %></td>
        <td><%= link_to 'Show', condicion %></td>
        <td><%= link_to 'Edit', edit_condicion_path(condicion) %></td>
        <td><%= link_to 'Destroy', condicion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Condicion', new_condicion_path %>
