         <div class="register_account">
            <div class="wrap">
            <h4 class="title">Registrarse</h4>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <br>  
  <div><br />
  <%= f.text_field :usuario_nombre_usuario,autofocus: true, :required => true, :style => 'width:20%', :placeholder => 'Username' %></div>

  <div><br />
  <%= f.text_field :usuario_nombre , autofocus: true,:required => true, :style => 'width:20%', :placeholder => 'Nombre' %></div>

  <div><br />
  <%= f.text_field :usuario_apellidopat,autofocus: true,:required => true, :style => 'width:20%', :placeholder => 'Apellido paterno'  %></div>

  <div><br />
  <%= f.text_field :usuario_apellidomat,autofocus: true,:required => true, :style => 'width:20%', :placeholder => 'Apellido materno'  %></div>

  <div><br />
  <%= f.text_field :usuario_rut ,autofocus: true,:required => true, :style => 'width:20%', :placeholder => 'Rut'  %></div>

  <div><br />
  <script type="text/javascript">
  $(function(){
    $('#provincias').css('width', '20%');
    $('#comunas').css('width', '20%');
    var cambios_en_provincia = false;
    var regiones = {
      <% Region.all.each do | region | %>
        "<%= region.region_nombre.html_safe %>":{
          <% region.provincia_units.each do | provincia | %>
            "<%= provincia.provincia_nombre.html_safe %>":{
              <% provincia.comunas.each do | comuna | %>
                <%= comuna.comuna_id %>: "<%= comuna.comuna_nombre %>",
              <% end %>
            },
          <% end %>
        },
      <% end %>
    }
    $('#provincia_units_region_id').on('change', function(){
      html = ''
      region_seleccionada = $('#provincia_units_region_id option:selected').text()
      console.log(region_seleccionada)
      $.each(regiones[region_seleccionada], function(key, value){
        html += '<option>' + key + '</option>'
      });
      $('#provincias').html(html);
      $('#provincias').change();
      $('#provincias').prop("disabled", false);
      cambios_en_provincia = true;
    })
    $('#provincias').on('change', function(){
      html = ''
      region_seleccionada = $('#provincia_units_region_id option:selected').text()
      provincia_seleccionada = $('#provincias option:selected').text()
      console.log(provincia_seleccionada)
      $.each(regiones[region_seleccionada][provincia_seleccionada], function(key, value){
        html += '<option value="' + key+ '">' + value + '</option>'
      });
      $('#comunas').html(html);
      if(cambios_en_provincia)
        $('#comunas').prop("disabled", false);
    }) 
  })
</script>
<%= collection_select(:provincia_units, :region_id, Region.all, :region_id, :region_nombre, { :prompt => 'Seleccione región...' }, {:style => 'width:20%'} ) %>

    
  <select id="provincias" disabled>
  <% Region.first.provincia_units.each do | provincia | %>
    <option><%= provincia.provincia_nombre %></option>
  <% end %>
  </select>
<!--<%= collection_select(:comunas, :provincia_id, ProvinciaUnit.all, :provincia_id, :provincia_nombre ) %>-->
  <select id="comunas" name="usuario[comuna_id]" disabled>
  <% ProvinciaUnit.first.comunas.each do | comuna | %>
    <option value="<%= comuna.comuna_id %>"><%= comuna.comuna_nombre %></option>
  <% end %>
  </select>


  <div><br />
  <%= f.text_field :usuario_calle ,autofocus: true, :required => true, :style => 'width:20%', :placeholder => 'Calle'  %></div>

  <div><br />
  <%= f.text_field :usuario_numero_calle,autofocus: true, :required => true, :style => 'width:20%', :placeholder => 'Numero de domicilio' %></div>

  <div><br />
  <%= f.text_field :usuario_villa ,autofocus: true, :required => true, :style => 'width:20%', :placeholder => 'Villa'  %></div>

  <div><br />
  <%= f.text_field :usuario_numero_depto,autofocus: true, :required => true, :style => 'width:20%', :placeholder => 'Depto'  %></div>

  <div><br />
  <%= f.text_field :usuario_bloque ,autofocus: true, :required => true, :style => 'width:20%', :placeholder => 'Block'  %></div>

  <div><br />
  <%= f.email_field :email, autofocus: true, :required => true, :style => 'width:20%', :placeholder => 'Email'  %></div>

  <div><br />
    <%= f.password_field :password, autocomplete: "off", :required => true,:style => 'width:20%', :placeholder => 'Contraseña'  %></div>

  <div><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :required => true, :style => 'width:20%', :placeholder => 'Confirmar contraseña'  %></div>
    <br>
    <div><%= f.label :VIP? %>
    <%= f.check_box :usuario_vip %>
  <br><br>
  <div><%= f.submit "Registrarse" %></div>
<% end %>

        </div>
      </div

