<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo trans:</strong>
  <%= @compra_venta_normal.tipo_trans %>
</p>

<p>
  <strong>Compraventa id2:</strong>
  <%= @compra_venta_normal.compraventa_id2 %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @compra_venta_normal.usuario %>
</p>

<p>
  <strong>Usu usuario:</strong>
  <%= @compra_venta_normal.usu_usuario %>
</p>

<p>
  <strong>Producto of:</strong>
  <%= @compra_venta_normal.producto_of %>
</p>

<p>
  <strong>Compraventanor fecha:</strong>
  <%= @compra_venta_normal.compraventanor_fecha %>
</p>

<%= link_to 'Edit', edit_compra_venta_normal_path(@compra_venta_normal) %> |
<%= link_to 'Back', compra_venta_normals_path %>
