<%= form_for(@puja) do |f| %>
  <% if @puja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@puja.errors.count, "error") %> prohibited this puja from being saved:</h2>

      <ul>
      <% @puja.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :puja_id %><br>
    <%= f.text_field :puja_id %>
  </div>
  <div class="field">
    <%= f.label :sub_id %><br>
    <%= f.text_field :sub_id %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.text_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :puja_valor %><br>
    <%= f.number_field :puja_valor %>
  </div>
  <div class="field">
    <%= f.label :puja_correlativo %><br>
    <%= f.number_field :puja_correlativo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
