<p id="notice"><%= notice %></p>

<p>
  <strong>Ganancia liquida:</strong>
  <%= @ganancia_liquida.ganancia_liquida %>
</p>

<p>
  <strong>Transaccion:</strong>
  <%= @ganancia_liquida.transaccion %>
</p>

<p>
  <strong>Ganancia liquida monto:</strong>
  <%= @ganancia_liquida.ganancia_liquida_monto %>
</p>

<%= link_to 'Edit', edit_ganancia_liquida_path(@ganancia_liquida) %> |
<%= link_to 'Back', ganancia_liquidas_path %>
