<p id="notice"><%= notice %></p>

<p>
  <strong>Auditoria:</strong>
  <%= @auditorium.auditoria %>
</p>

<p>
  <strong>Auditoria usuario:</strong>
  <%= @auditorium.auditoria_usuario %>
</p>

<p>
  <strong>Auditoria tabla mod:</strong>
  <%= @auditorium.auditoria_tabla_mod %>
</p>

<p>
  <strong>Auditoria operacion:</strong>
  <%= @auditorium.auditoria_operacion %>
</p>

<p>
  <strong>Auditoria fecha:</strong>
  <%= @auditorium.auditoria_fecha %>
</p>

<p>
  <strong>Auditoria attr mod:</strong>
  <%= @auditorium.auditoria_attr_mod %>
</p>

<p>
  <strong>Auditoria antes:</strong>
  <%= @auditorium.auditoria_antes %>
</p>

<p>
  <strong>Auditoria despues:</strong>
  <%= @auditorium.auditoria_despues %>
</p>

<%= link_to 'Edit', edit_auditorium_path(@auditorium) %> |
<%= link_to 'Back', auditoria_path %>
