<%= form_for(@estado_notificacion) do |f| %>
  <% if @estado_notificacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estado_notificacion.errors.count, "error") %> prohibited this estado_notificacion from being saved:</h2>

      <ul>
      <% @estado_notificacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :estado_not_id %><br>
    <%= f.text_field :estado_not_id %>
  </div>
  <div class="field">
    <%= f.label :estado_not_nombre %><br>
    <%= f.text_field :estado_not_nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
