
<br>
<%
   base_url = request.url
   if request.path != '/'
       base_url = base_url.gsub(request.path, '')
   end
%> 


    <!-- start slider -->
    <div id="fwslider">
        <div class="slider_container">
            <div class="slide"> 
                <!-- Slide image -->
                <%= image_tag("banner.jpg")%>  
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- Text title -->
                        <h4 class="title">Vende tus productos</h4>
                        <!-- /Text title -->
                        
                        <!-- Text description -->
                        <p class="description">Oferta tus necesidades</p>
                        <!-- /Text description -->
                    </div>
                </div>
                 <!-- /Texts container -->
            </div>
            <!-- /Duplicate to create more slides -->
            <div class="slide">
                <%= image_tag("banner1.jpg") %>
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h4 class="title">Crea remates</h4>
                        <p class="description">El matias se la come</p>
                    </div>
                </div>
            </div>
            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
    </div>
    <!--/slider -->



    <!-- FOOTER -->
       <div class="footer">

        <div class="footer-middle">
            <div class="wrap">
             
           <div class="section group example">
              <div class="col_1_of_f_1 span_1_of_f_1">
                 <div class="section group example">
                   <div class="col_1_of_f_2 span_1_of_f_2">
                      <h3>Secciones</h3>
                        <ul class="f-list1" style="color: #fff">
                            <li><%= link_to "Ofertas", producto_ofertados_path, {:style => 'background:#39A0B9'} %></li>       
                            <li><%= link_to "Necesidades", producto_necesitados_path, {:style => 'background:#39A0B9'} %></li>
                            <li><%= link_to "Remates", remates_path, {:style => 'background:#39A0B9'} %></li>
                        </ul>
                  </div>
                  <div class="col_1_of_f_2 span_1_of_f_2">
                        <h3>Nuestro equipo</h3>
                        <ul class="f-list1" style="color: #fff">
                            <li>Miguel Cárcamo (miguel.carcamo@usach.cl)</li>
                            <li>Luis Celedón (luis.celedon@usach.cl)</li>
                            <li>Matias Flores (matias.flores@usach.cl)</li>
                        </ul>
                </div>
                <div class="clear"></div>
              </div>
             </div>
             <div class="col_1_of_f_1 span_1_of_f_1">
               <div class="section group example">
                 <div class="col_1_of_f_2 span_1_of_f_2">
                    <h3>Información</h3>
                        <ul class="f-list1" style="color:#fff">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                 </div>
                 <div class="col_1_of_f_2 span_1_of_f_2">
                   <h3>Contacto</h3>
                        <div class="company_address">
                                    <p>Universidad de Santiago de Chile</p>
                                    <p>Departamento de Ingeniería Informática</p>
                                    <p>Chile</p>
                            <p>Telefono:(+569) 95438543</p>
                            <p>Email: <span>smarket@usach.cl</span></p>
                            
                       </div>
                       <div class="social-media">
                             <ul>
                                <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a href="#" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li>
                            </ul>
                       </div>
                </div>
                <div class="clear"></div>
            </div>
           </div>
          <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
            <div class="wrap">
                 <div class="copy">
                    <p>© Smarket 2014</p>
                 </div>
                <div class="f-list2">
                 <ul>
                    <li class="active"><%= link_to "Sobre nosotros", home_about_path, {:style => 'background: #0b4b5a'}%></li> |
                    <li><%= link_to "Terminos y condiciones", home_terminos_path, {:style => 'background: #0b4b5a'}%></li> |
                    <li><%= link_to "Contacto", home_contacto_path, {:style => 'background: #0b4b5a'}%></li> 
                 </ul>
                </div>
                <div class="clear"></div>
              </div>
         </div>
    </div>