
<br>
<%
   base_url = request.url
   if request.path != '/'
       base_url = base_url.gsub(request.path, '')
   end
%> 


<div id="fwslider">
        <div class="slider_container">
            <div class="slide"> 
                <!-- Slide image -->
                <%= image_tag("banner.jpg")%>  
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- Text title -->
                        <h4 class="title">Vende tus productos</h4>
                        <!-- /Text title -->
                        
                        <!-- Text description -->
                        <p class="description">Oferta tus necesidades</p>
                        <!-- /Text description -->
                    </div>
                </div>
                 <!-- /Texts container -->
            </div>
            <!-- /Duplicate to create more slides -->
            <div class="slide">
                <%= image_tag("banner1.jpg") %>
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h4 class="title">Crea remates</h4>
                        <p class="description">Compra en línea</p>
                    </div>
                </div>
            </div>
            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
    </div>
    <!--/slider -->

    
    <!-- MAIN -->
    <div class="main">
    <div class="wrap">
    <div class="section group">
      <div class="cont span_2_of_3">
        <h2 class="head">Ofertas</h2>
       
      <h2 class="head">Necesidades</h2>
           
        <div class="clear"></div>
      </div>  
 
        
        <div class="clear"></div>
      </div>                            
      </div>
      <div class="rsidebar span_1_of_left">


      <div class="top-border"> </div>
      <div class="sidebar-bottom">
        <% if usuario_signed_in? %>
          <h2 class="m_1">Bienvenido <%= current_usuario.usuario_nombre_usuario %></h2>
          <p>
            Comienza a comprar y vender tus productos sin esperar más. No dejes pasar una gran oportunidad.
          </p>
        <% else %>
          <h2 class="m_1"><%= link_to "Login", new_usuario_session_path, {:style => 'background: #555;
                                    border:none;
                                    color: #fff;
                                    padding: 10px 20px;
                                    cursor: pointer;
                                    font-family: "Exo 2", sans-serif;
                                    outline: none;
                                    font-size: 1em;
                                    border-radius: 10px'} %></h2><br><br>
          <h2 class="m_1"><%= link_to "Sign up", new_usuario_registration_path, {:style =>  'background: #555;
                                    border:none;
                                    color: #fff;
                                    padding: 10px 20px;
                                    cursor: pointer;
                                    font-family: "Exo 2", sans-serif;
                                    outline: none;
                                    font-size: 1em;
                                    border-radius: 10px'} %></h2>
        <% end %>
      </div>
      </div>
     <div class="clear"></div>
  </div>
  </div>
  </div>





    <!-- FOOTER -->
       <div class="footer">

        <div class="footer-middle">
            <div class="wrap">
             
           <div class="footer-bottom">
            <div class="wrap">
                 <div class="copy">
                    <p>© Smarket 2014</p>
                 </div>
                <div class="f-list2">
                 <ul>
                    <li class="active"><%= link_to "Sobre nosotros", home_about_path, {:style => 'background: #0b4b5a'}%></li> |
                    <li><%= link_to "Terminos y condiciones", home_terminos_path, {:style => 'background: #0b4b5a'}%></li> |
                    <li><%= link_to "Políticas de privacidad", home_contacto_path, {:style => 'background: #0b4b5a'}%></li> 
                    <li><%= link_to "Como comprar", home_comocomprar_path, {:style => 'background:#0b4b5a'}%></li>
                            <li><%= link_to "Como vender", home_comovender_path, {:style => 'background:#0b4b5a'}%></li>
                            <li><%= link_to "Mi cuenta", home_datoscuenta_path, {:style => 'background:#0b4b5a'}%></li>
                 </ul>
                </div>


                <div class="company_address"> <br>
                            <p>Universidad de Santiago de Chile</p>
                            <p>Departamento de Ingeniería Informática</p>
                            <p>Chile</p>
                            <p>Telefono:(+569) 95438543</p>
                            <p>Email: <span>smarket@usach.cl</span></p>
                            
                       </div>
                <div class="clear"></div>

              </div>
         </div>
    </div>