<h1>Listing propiedadclases</h1>

<table>
  <thead>
    <tr>
      <th>Propiedad</th>
      <th>Clase</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @propiedadclases.each do |propiedadclase| %>
      <tr>
        <td><%= propiedadclase.propiedad %></td>
        <td><%= propiedadclase.clase %></td>
        <td><%= link_to 'Show', propiedadclase %></td>
        <td><%= link_to 'Edit', edit_propiedadclase_path(propiedadclase) %></td>
        <td><%= link_to 'Destroy', propiedadclase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Propiedadclase', new_propiedadclase_path %>
