<p id="notice"><%= notice %></p>

<p>
  <strong>Propiedad:</strong>
  <%= @propiedadclase.propiedad %>
</p>

<p>
  <strong>Clase:</strong>
  <%= @propiedadclase.clase %>
</p>

<%= link_to 'Edit', edit_propiedadclase_path(@propiedadclase) %> |
<%= link_to 'Back', propiedadclases_path %>
