<h1>Listing valors</h1>

<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th>Propiedad</th>
      <th>Producto</th>
      <th>Valor nombre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @valors.each do |valor| %>
      <tr>
        <td><%= valor.valor %></td>
        <td><%= valor.propiedad %></td>
        <td><%= valor.producto %></td>
        <td><%= valor.valor_nombre %></td>
        <td><%= link_to 'Show', valor %></td>
        <td><%= link_to 'Edit', edit_valor_path(valor) %></td>
        <td><%= link_to 'Destroy', valor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Valor', new_valor_path %>
