<h1>Listing compra_venta_especials</h1>

<table>
  <thead>
    <tr>
      <th>Tipo trans</th>
      <th>Compraventa</th>
      <th>Usuario</th>
      <th>Prod of nec</th>
      <th>Usu usuario</th>
      <th>Compraventanor fecha</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @compra_venta_especials.each do |compra_venta_especial| %>
      <tr>
        <td><%= compra_venta_especial.tipo_trans %></td>
        <td><%= compra_venta_especial.compraventa %></td>
        <td><%= compra_venta_especial.usuario %></td>
        <td><%= compra_venta_especial.prod_of_nec %></td>
        <td><%= compra_venta_especial.usu_usuario %></td>
        <td><%= compra_venta_especial.compraventanor_fecha %></td>
        <td><%= link_to 'Show', compra_venta_especial %></td>
        <td><%= link_to 'Edit', edit_compra_venta_especial_path(compra_venta_especial) %></td>
        <td><%= link_to 'Destroy', compra_venta_especial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compra venta especial', new_compra_venta_especial_path %>
