<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo trans:</strong>
  <%= @compra_venta_especial.tipo_trans %>
</p>

<p>
  <strong>Compraventa:</strong>
  <%= @compra_venta_especial.compraventa %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @compra_venta_especial.usuario %>
</p>

<p>
  <strong>Prod of nec:</strong>
  <%= @compra_venta_especial.prod_of_nec %>
</p>

<p>
  <strong>Usu usuario:</strong>
  <%= @compra_venta_especial.usu_usuario %>
</p>

<p>
  <strong>Compraventanor fecha:</strong>
  <%= @compra_venta_especial.compraventanor_fecha %>
</p>

<%= link_to 'Edit', edit_compra_venta_especial_path(@compra_venta_especial) %> |
<%= link_to 'Back', compra_venta_especials_path %>
