        <div class="login">
          	<div class="wrap">
				<div class="col_1_of_login span_1_of_login">
					<h4 class="title">Nuevos usuarios</h4>
					<p>
            Si aun no tienes tu cuenta y deseas formar parte de esta gran comunidad de usuarios Smarket, date prisa y presiona el botón "Crear cuenta"!     
          </p>
					<div class="button1">
					   <%= link_to "Crear cuenta", new_usuario_registration_path, :style =>	'background: #555;
  																	border:none;
  																	color: #fff;
  																	padding: 10px 20px;
  																	cursor: pointer;
  																	float: right;
  																	font-family: "Exo 2", sans-serif;
  																	outline: none;
  																	font-size: 1em' %>
					 </div>
					 <div class="clear"></div>
				</div>
				<div class="col_1_of_login span_1_of_login">
				<div class="login-title">
	           		<h4 class="title">Login</h4>
					       <div id="loginbox" class="loginbox">
						      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  							<div>
  								<%= f.label :Email %><br />
  								<%= f.email_field :email, autofocus: true, :style => 'width:70%' %>
  							</div>

 							<div>
 								<%= f.label :Contraseña %><br />
    							<%= f.password_field :password, autocomplete: "off", :style => 'width:70%' %>
    						</div>

  							<% if devise_mapping.rememberable? -%>
    						<div>
    							<%= f.check_box :remember_me %>
    							<%= f.label :remember_me, :style => 'float:left; outline: none; padding-right:10px; padding-top:3px; ' %>
    						</div>
  							<% end %>

  							<div><%= f.submit "Login", :style =>	'background: #555;
  																	border:none;
  																	color: #fff;
  																	padding: 10px 20px;
  																	cursor: pointer;
  																	float: right;
  																	font-family: "Exo 2", sans-serif;
  																	outline: none;
  																	font-size: 1em'%></div>
							<% end %><br>
							
					</div>
			    </div>
				</div>
				<div class="clear"></div>
			</div>
		</div>