<p id="notice"><%= notice %></p>

<p>
  <strong>Comuna:</strong>
  <%= @comuna.comuna_id %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @comuna.provincia_id %>
</p>

<p>
  <strong>Comuna nombre:</strong>
  <%= @comuna.comuna_nombre %>
</p>

<%= link_to 'Edit', edit_comuna_path(@comuna) %> |
<%= link_to 'Back', comunas_path %>
