<p id="notice"><%= notice %></p>


<p>
  <strong>Clase:</strong>
  <%= @clase_units.clase_id %>
</p>

<p>
  <strong>Cla clase:</strong>
  <%= @clase_units.cla_clase_id %>
</p>

<p>
  <strong>Clase nombre:</strong>
  <%= @clase_units.clase_nombre %>
</p>

<%= link_to 'Edit', edit_clase_unit_path(@clase_units) %> |
<%= link_to 'Back', clase_units_path %>
