<p id="notice"><%= notice %></p>

<p>
  <strong>Clase:</strong>
  <%= @clase_unit.clase %>
</p>

<p>
  <strong>Cla clase:</strong>
  <%= @clase_unit.cla_clase %>
</p>

<p>
  <strong>Clase nombre:</strong>
  <%= @clase_unit.clase_nombre %>
</p>

<%= link_to 'Edit', edit_clase_unit_path(@clase_unit) %> |
<%= link_to 'Back', clase_units_path %>
