<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @producto.producto_id %>
</p>

<p>
  <strong>Clase:</strong>
  <%= @producto.clase_id %>
</p>

<p>
  <strong>Producto nombre:</strong>
  <%= @producto.producto_nombre %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
