<h1>Listing estado_remates</h1>

<table>
  <thead>
    <tr>
      <th>Estado subasta</th>
      <th>Estado subasta nombre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @estado_remates.each do |estado_remate| %>
      <tr>
        <td><%= estado_remate.estado_subasta %></td>
        <td><%= estado_remate.estado_subasta_nombre %></td>
        <td><%= link_to 'Show', estado_remate %></td>
        <td><%= link_to 'Edit', edit_estado_remate_path(estado_remate) %></td>
        <td><%= link_to 'Destroy', estado_remate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estado remate', new_estado_remate_path %>
