<p id="notice"><%= notice %></p>

<p>
  <strong>Estado subasta:</strong>
  <%= @estado_remate.estado_subasta %>
</p>

<p>
  <strong>Estado subasta nombre:</strong>
  <%= @estado_remate.estado_subasta_nombre %>
</p>

<%= link_to 'Edit', edit_estado_remate_path(@estado_remate) %> |
<%= link_to 'Back', estado_remates_path %>
