<div style="padding-left:100px">
  <h1 style="font-size:40px">OFERTAS</h1><br>
  <style>
  table,th,td
  {
  border:0px solid black;
  }
  th,td
  {
  padding:15px;
  }
  thead
  {
  background:#4cb1ca;
  color: #fff;

  }
  </style>
  <table style="width:90%">
    <thead style="width:100%">
      <tr>
        <th>Producto</th>
        <th>Producto of</th>
        <th>Usuario</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Fecha de publicacion</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @producto_ofertados.each do |producto_ofertado| %>
        <tr>
          <td><%= producto_ofertado.producto %></td>
          <td><%= producto_ofertado.producto_of %></td>
          <td><%= producto_ofertado.usuario %></td>
          <td><%= producto_ofertado.producto_of_cantidad %></td>
          <td><%= producto_ofertado.producto_of_precio_unitario %></td>
          <td><%= producto_ofertado.producto_of_fecha_publicacion %></td>
          <td><%= link_to 'Show', producto_ofertado %></td>
          <td><%= link_to 'Edit', edit_producto_ofertado_path(producto_ofertado) %></td>
          <td><%= link_to 'Destroy', producto_ofertado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if usuario_signed_in? %>
    <%= link_to 'Publica tu Oferta', clase_units_path, :style =>  'background: #555;
                                    border:none;
                                    color: #fff;
                                    padding: 10px 20px;
                                    cursor: pointer;
                                    font-family: "Exo 2", sans-serif;
                                    outline: none;
                                    font-size: 1em' %>
  <% else %>
    <%= link_to 'Publica tu Oferta', new_usuario_session_path, :style =>  'background: #555;
                                    border:none;
                                    color: #fff;
                                    padding: 10px 20px;
                                    cursor: pointer;
                                    font-family: "Exo 2", sans-serif;
                                    outline: none;
                                    font-size: 1em' %>
    <% end %>
</div>
