<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @usuario.usuario %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @usuario.comuna %>
</p>

<p>
  <strong>Usuario nombre:</strong>
  <%= @usuario.usuario_nombre %>
</p>

<p>
  <strong>Usuario apellidopat:</strong>
  <%= @usuario.usuario_apellidopat %>
</p>

<p>
  <strong>Usuario apellidomat:</strong>
  <%= @usuario.usuario_apellidomat %>
</p>

<p>
  <strong>Usuario rut:</strong>
  <%= @usuario.usuario_rut %>
</p>

<p>
  <strong>Usuario e mail:</strong>
  <%= @usuario.usuario_e_mail %>
</p>

<p>
  <strong>Usuario nombre usuario:</strong>
  <%= @usuario.usuario_nombre_usuario %>
</p>

<p>
  <strong>Usuario contrasena:</strong>
  <%= @usuario.usuario_contrasena %>
</p>

<p>
  <strong>Usuario vip:</strong>
  <%= @usuario.usuario_vip %>
</p>

<p>
  <strong>Usuario calle:</strong>
  <%= @usuario.usuario_calle %>
</p>

<p>
  <strong>Usuario numero calle:</strong>
  <%= @usuario.usuario_numero_calle %>
</p>

<p>
  <strong>Usuario villa:</strong>
  <%= @usuario.usuario_villa %>
</p>

<p>
  <strong>Usuario numero depto:</strong>
  <%= @usuario.usuario_numero_depto %>
</p>

<p>
  <strong>Usuario bloque:</strong>
  <%= @usuario.usuario_bloque %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
