<p id="notice"><%= notice %></p>

<p>
  <strong>Estado prod of necesidad:</strong>
  <%= @est_prod_of_nec.estado_prod_of_necesidad %>
</p>

<p>
  <strong>Estado prod of necesidad nombre:</strong>
  <%= @est_prod_of_nec.estado_prod_of_necesidad_nombre %>
</p>

<%= link_to 'Edit', edit_est_prod_of_nec_path(@est_prod_of_nec) %> |
<%= link_to 'Back', est_prod_of_necs_path %>
