<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @prod_of_nec.producto %>
</p>

<p>
  <strong>Prod of nec:</strong>
  <%= @prod_of_nec.prod_of_nec %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @prod_of_nec.usuario %>
</p>

<p>
  <strong>Estado prod of necesidad:</strong>
  <%= @prod_of_nec.estado_prod_of_necesidad %>
</p>

<p>
  <strong>Prod nec:</strong>
  <%= @prod_of_nec.prod_nec %>
</p>

<p>
  <strong>Prod of nec cantidad:</strong>
  <%= @prod_of_nec.prod_of_nec_cantidad %>
</p>

<p>
  <strong>Prod of nec precio unitario:</strong>
  <%= @prod_of_nec.prod_of_nec_precio_unitario %>
</p>

<p>
  <strong>Prod of nec fecha publicacion:</strong>
  <%= @prod_of_nec.prod_of_nec_fecha_publicacion %>
</p>

<%= link_to 'Edit', edit_prod_of_nec_path(@prod_of_nec) %> |
<%= link_to 'Back', prod_of_necs_path %>
