<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @region.region:id %>
</p>

<p>
  <strong>Region nombre:</strong>
  <%= @region.region_nombre %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
