<%= form_for(@propiedad) do |f| %>
  <% if @propiedad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@propiedad.errors.count, "error") %> prohibited this propiedad from being saved:</h2>

      <ul>
      <% @propiedad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :propiedad_id %><br>
    <%= f.text_field :propiedad_id %>
  </div>
  <div class="field">
    <%= f.label :propiedad_nombre %><br>
    <%= f.text_field :propiedad_nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
